<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyphenate.chatuidemo">

    <uses-permission android:name="android.permission.CAMERA" />

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".my.VideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.TableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.CameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".my.CreatTeamActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" />
        <activity android:name=".my.InviteMemberActivity" />
        <activity android:name=".my.SetTagActivity"></activity>
    </application>

</manifest>